.dialogs {
        display: grid;
        grid-template-columns: 1fr 5fr;
        padding: 10px;
}

.dialogItems {
        padding: 10px;

}

.dialog{

}

.dialog.active{
        color: gold;
}

.messages {
        padding: 10px;
}